/*FONT STYLE FOR THE WHOLE APP*/
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto');

.section-container{
  margin-top: 5%;
}

/*lOGIN FORM*/
.login{
  border: 3px solid #f1f1f1;
  margin: 50px 300px;
  padding: 50px 50px;
}




/*input[type=text]{
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
}*/

input[type=password]{
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
}

input[type=text]:focus{
  box-shadow: none;
  }

input[type=password]:focus{
  box-shadow: none;
 }

input[type=text]:focus::-webkit-input-placeholder {
  color:transparent;
 }

input[type=password]:focus::-webkit-input-placeholder {
  color:transparent;
  }

/*NAVIGATION BAR*/


/*RSVP*/
.guestinput{
  padding: 20px;
}

.guestattending{
text-align: center;
display: list-item;
}


#RSVP_comment_box {
  height: 111px;
  width: 512px;
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  transition: border .5s;
}

#RSVP_comment_box:focus{
  border: 2px solid orange;
  box-shadow: none;
}

#RSVP_comment_box:focus::-webkit-input-placeholder {
  color:transparent;
}

.submitbtn{
  border: 2px solid transparent;
   background: orange;
   color: #ffffff;
   font-size: 16px;
   line-height: 25px;
   padding: 10px 0;
   text-decoration: none;
   text-shadow: none;
   border-radius: 3px;
   box-shadow: none;
   transition: 0.25s;
   display: block;
   width: 250px;
   margin: 20px auto;
}



.rsvp-container {
  padding: 0 !important;
}

.fa-window-close{
float: right;
}

.rsvp-title {
text-align: center;
color:black;
height: 5vh;
opacity: 0.8;
border: rgba(202, 232, 220, 1.0) solid 5px;
}

.add-guest-submit {
  margin-left: 15px;
}

.plus-guest-input-box {
  height: 3.4vh!important;
}


/*==============================GUESTBOOK==============================*/

.center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 350px;
  height: 100px;
  border-radius: 3px;
}


.guestbook-container {
  margin-top: 10%;
}

.guestbookForm {
  width: 30%;
  height: 300px;
  border: 1px black solid;
  position: absolute;
  margin-top: 5%;
  background-color: white;
}

.leave-message-button {
  margin-top: 5%;
}

.guestbookInputForm {
display: block;
margin-left: 40%;
margin-top: 5%;
}

.comment-section{
    list-style: none;
    width: 40%;
    height: 25vh;
    justify-content: center;
    float: left;
    margin: 2%;
    padding: 30px;
    display: inline-block;
    border-bottom: dashed lightgray 1px;
}

.timestamp {
  color: gray;
  font-size: 10px;
}

.guest-img {
  width: 10%;
  height: 10%;
  border: 1px lightgray solid;
  margin-right: 3%;
  border-radius: 30px;
  display: inline-flex;
}

.guestBookNames {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    vertical-align:middle;
}

.guestBookComments {
    display: block;
    text-transform: capitalize;
    margin-top: 4%;
    vertical-align:middle;
    display: flex;
    width: 70%;
    border-radius: 3px;
    margin-bottom: 5px;
    flex-wrap: wrap;
    color: #808080;
}

.guestbooklist-item{
  padding-left:4%;
}

.post-button {
  margin-top: 30%;
}
/*==============================Admin Home==============================*/


.tableHead {
  font-weight: bold;
  font-size: 18px;
}

.searchbar-div {
  padding-bottom: 15px;
  padding-top: 15px;
  margin-right: 0;
}
.searchbar-div-child {
  margin-right: 0;
  padding-right: 0;
}

.searchbar {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.search-icon {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  background-color: lightgray;
}


.names{
  text-transform: capitalize;
}

.glyphicon-resize-full {
  padding-left: 7px;
}

.fa-sort {
  padding-left: 5px;
}
.glyphicon-envelope {
  color: gray;
  padding: 3px;
}
.glyphicon-phone {
  color: gray;
}

.admin-phonenumber {
  font-weight: bold;
  color: black;
  font-size: 20px;
}

.pagination {
  background-color: white;
  border: 1px gray solid;
  padding: 8px 16px;
}

.pagination-div {
  display: inline;
  text-align: center;
}

/*-----UPLOAD PHOTOS------*/

#upload-form {
  margin: 0 auto;
  width: 90vw;
}
#upload-form p:nth-child(2) {
  display: inline-block;
}

#upload-input {
  text-align: center;
  display: inline-block;
  color: white;
  font-weight: bold;
  height: 25px;
  width: 120px;
  background-color: rgb(0,100,255);
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 5px;
}

#drop-box {
  display: inline-block;
}

#drop-box div:nth-of-type(1) {
  position: relative;
  text-align: center;
  height: 400px;
  width: 400px;
  border: 1px dashed grey;
  background: url(../images/thumb.jpg) center no-repeat;
  background-size: cover;
}

#drop-box p {
  position: absolute;
  font-size: 30px;
  left: 18%;
  top: 45%;
}

#drop-box button {
  display: block;
  width: 400px;
  height: 50px;
  margin-bottom: 20px
}

#image-preview img {
  margin: 10px;
  float: left;
  width: 250px;
  height: 170px;
}

.album-photo {
  height: 200px;
  width: 350px;
  margin: 20px;
  cursor: pointer;
}

.album-view {
  position: relative;
  margin: 50px 0;
  background-color: rgb(0,0,0)
}
.album-view img {
  display: block;
  margin: 0 auto;
  height: 80vh;
  width: 60vw;
}
.close-album {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  z-index: 10;
  cursor: pointer;
  border: 1px solid white;
  background: url(../images/close-button.png) center no-repeat;
  background-size: cover;
}
.next-photo {
  position: absolute;
  right: 50px;
  top: 45%;
  height: 60px;
  width: 40px;
  background: url(../images/right-arrow.png) center no-repeat;
  background-size: cover;
  cursor: pointer;
}
.next-photo:hover {
  transform: scale(1.3);
}
.previous-photo {
  position: absolute;
  left: 50px;
  top: 45%;
  height: 60px;
  width: 40px;
  background: url(../images/left-arrow.png) center no-repeat;
  background-size: cover;
  cursor: pointer;
}
.previous-photo:hover {
  transform: scale(1.3);
}

/*==============================Edit==============================*/
