<h1>Edit Guest</h1>



<div>


{{ guest }}
firstName
  <form ng-submit="guest.updateGuest()">

      <input
        type="text"
        ng-model="guest.updatedGuest.firstName"/>

lastName
      <input
        type="text"
        ng-model="guest.updatedGuest.lastName"/>

extraGuests
      <select
        ng-model="guest.updatedGuest.extraGuests">
        <option
          ng-repeat="option in guest.extraGuestsOptions"
          ng-selected="option"
          ng-value="option">{{ option }}
        </option>
      </select>

attendingEvents
      <select
        ng-model="guest.updatedGuest.attendingEvents">
        <option
          ng-repeat="event in guest.eventOptions"
          ng-selected="event"
          ng-option="event">
        </option>
      </select>


    <div>
      <input type="submit" value="Update">
    </div>

  </form>
</div>
