<div ng-controller="S3Controller as s3">
  <h1>Upload</h1>
  <form ng-submit="s3.uploadImages()">
    <input type="button"
           ngf-select
           ng-model="s3.images"
           ngf-multiple="true"
           value="Select Images"
           id="upload">
           <div ng-repeat="image in s3.images">
             {{ image.name }}
           </div>
    <div ngf-drop
         ng-model="s3.images"
         ngf-multiple="true"
         id="drop-box">Drop Images
    </div>
    <button type="submit" ng-disabled="!s3.images">Submit</button>
  </form>
</div>
