<div ng-controller="S3Controller as s3">
  <h1>Upload</h1>
  <div class="button"
       ngf-select="s3.uploadImages()"
       ng-model="s3.images"
       ngf-multiple="true"
       value="Select Images"
       id="upload">Select Files
  </div>
  <div ng-repeat="image in s3.images">
    {{ image.name }}
  </div>

  <div ngf-drop="s3.uploadImages()"
       id="drop-box"
       class="drop-box"
       ng-model="s3.images"
       ngf-drag-over-class="'dragover'"
       ngf-multiple="true"
       ng-style="s3.dropboxStyle"
       ngf-pattern="'image/*'">Drop Images here
  </div>
  <form>
    <div ng-repeat="image in s3.images track by $index">
      <img id="{{s3.previews[$index]}}" alt="thumbnail" style="height: 100px; width: 100px; display: inline">
    </div>
    <input type="text" placeholder="Upload comment">
    <button type="submit" ng-disabled="!s3.images">Submit</button>
  </form>



</div>
