<div ui-view="navbar"></div>

<!-- <div ng-init="guests.getSingleUser()"> -->
<div ng-controller = "GuestController as guest" ng-init="guest.getAll()">
  <div class="container">

<h2 class="guestbook-title">Admin</h2>

<button type="button"
        name="button"
        class="btn btn-info btn-md"
        ng-click="isGuestListOpen = !isGuestListOpen">Guest List
        <span class="glyphicon glyphicon-resize-full"></span>
</button>
<!-- <button type="button" name="button" class="btn btn-info btn-md">Check List<span class="glyphicon glyphicon-resize-full"></span></button>
<button type="button" name="button" class="btn btn-info btn-md">Gallery<span class="glyphicon glyphicon-resize-full"></span></button> -->

<div ng-show="isGuestListOpen">


    <div class="row">
      <div class="col-xs-6">
        <input class="form-control" ng-model="searchBox" type="text" placeholder="Search Guest" >
      </div>
    </div>



      <table class="table table hover" >
        <thead class="tableHead">
          <tr>
            <th>No.</th>
            <th>Name <img src="https://image.flaticon.com/icons/png/512/25/25756.png"  alt="Filter by first name" class="filterBy"/></th>
            <th>Contact</th>

            <th>Attending Events </th>
            <th>+ Guests <img src="https://image.flaticon.com/icons/png/512/25/25756.png" alt="Filter by first name" class="filterBy"/></th>
            <th>Actions</th>
            <th></th>
          </tr>
        </thead>

  <tbody>


    <tr ng-repeat="person in guest.guests | filter:searchBox |orderBy:orderByField:reverseSor track by $index">
      <td>{{ $index + 1 }} </td>

      <td ng-hide="editMode" >{{ person.firstName}} {{ person.lastName}}</td>
        <td ng-show="editMode">
          <input
            type="text"
            ng-value="person.firstName"
            ng-modal="guest.updatedGuest.firstName"/> {{updatedGuest.firstName}}
          <input
            type="text"
            ng-model="guest.updatedGuest.lastName"
            ng-value="person.lastName"/>
        </td>

        <td>
          <span class="glyphicon glyphicon-envelope"></span>
          <span class="glyphicon glyphicon-phone"></span>
        </td>

      <td ng-hide="editMode" class="admin-attending-events">{{ person.attendingEvents}}</td>
        <td ng-show="editMode">
            <select >
              <option
                ng-model="guest.updatedGuest.attendingEvents"
                ng-repeat="event in guest.eventOptions"
                ng-selected="event"
                ng-value="event">{{ event }}
              </option>
            </select>
        </td>


      <td ng-hide="editMode">{{ person.extraGuests}}</td>
        <td>
          <select ng-show="editMode">
            <option value="">0</option>
            <option
              ng-model="guest.updatedGuest.extraGuests"
              ng-repeat="option in guest.extraGuestsOptions"
              ng-value="option ">{{ option }}
            </option>
          </select>
        </td>

        <td>
          <button
            type="submit"
            class="btn btn-default"
            ng-hide="editMode"
            ng-click="editMode = true; guest.editGuest(person._id)">
          <span class="glyphicon glyphicon-pencil"></span>
          </button>

          <button
            type="button"
            class="btn btn-success"
            ng-show="editMode"
            ng-click="guest.updateGuest(person)">Save
         </button>

          <button
            type="button"
            class="btn btn-danger"
            ng-show="editMode"
            ng-click="editMode = false">Undo
          </button>

             <button
               type="button"
               class="close"
               aria-label="Close"
               ng-hide="editMode"
               ng-click="guest.deleteGuest(person._id)">
             <span aria-hidden="true">&times;</span>
            </button>
        </td>
    </tr>

  </tbody>
  </table>

</div>

 </div>
</div>
     <!-- ________________guest modal________________ -->

      <!-- <div ng-if="guest.isEditFormVisible">

        <h1>Edit Guest</h1>

        <div>

        firstName
          <form ng-submit="guest.updateGuest(guest.selectedGuest._id)" ng-init="guest.getGuest(guest.selectedGuest._id)" >
            <input
              type="text"
              ng-value="guest.selectedGuest.firstName"
              ng-model="guest.selectedGuest.firstName"/>

        lastName
            <input
              type="text"
              ng-value="guest.selectedGuest.lastName"
              ng-model="guest.selectedGuest.lastName"/>

        attendingEvents
            <select ng-model="guest.selectedGuest.attendingEvents">
              <option
                ng-repeat="event in guest.eventOptions"
                ng-selected="event"
                ng-value="event">{{ event }}
              </option>
            </select>

        extraGuests
            <select
               ng-model="guest.selectedGuest.extraGuests">
              <option
                ng-repeat="option in guest.extraGuestsOptions"
                ng-value="option ">{{ option }}
              </option>
            </select>

            <div>
              <input type="submit" value="Update">
            </div>

          </form>
        </div>

      </div>

  </div> -->

<!-- </div> -->
