<!-- <div ng-init="guests.getSingleUser()"> -->
<div ng-controller = "GuestController as guest" ng-init="guest.getAll()">

  <div class="container">

    <div class="row">

<!-- SEARCHBOX AND FILTER ROW -->
      <div class="input-group col-md-4">
        <input type="text"
               class="form-control names"
               ng-model="searchBox.firstName"
               placeholder="Search Guest"
               aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2">
                <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>


         <button type="button"
                 class="btn btn-secondary">Registered
           <span class="badge badge-default">{{guest.registeredGuests}}</span>
         </button>

            <button type="button"
                    class="btn btn-secondary"
                    ng-model="guest.eventFilter"
                    ng-click="guest.filterBy('White Wedding')">
                    <i class="fa fa-filter" aria-hidden="true"></i>White
              <span class="badge badge-default">{{guest.whiteWeddingGuestsTotal}}</span>
            </button>

            <button type="button"
                    class="btn btn-secondary"
                    ng-model="guest.eventFilter"
                    ng-click="guest.filterBy('Traditional Wedding')">
                    <i class="fa fa-filter" aria-hidden="true"></i>Traditional
              <span class="badge badge-default">{{guest.traditionalGuestsTotal}}</span>
            </button>

            <button type="button"
                    class="btn btn-secondary">Total
              <span class="badge badge-default">{{guest.totalGuests}}</span>
            </button>

<!-- Add Guest Form -->

            <button
              type="button"
              class="btn btn-secondary add-guest"
              ng-click="isAddGuestOpen = !isAddGuestOpen">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
            </button>

            <button
              type="button"
              class="btn btn-secondary"
              ng-click="isUploadPhotoOpen = !isUploadPhotoOpen">
                <i class="fa fa-file-image-o" aria-hidden="true"></i>
            </button>


      <!-- <button type="button"
              class="close"
              aria-label="Close"
              ng-show="isAddGuestOpen"
              ng-click="isAddGuestOpen = false">
        <span aria-hidden="true">&times;</span>
      </button> -->

        <div ui-view="addGuest"
             ng-show="isAddGuestOpen"
             class="addGuest">
        </div>

        <!-- <button type="button"
                class="close"
                aria-label="Close"
                ng-show="isUploadPhotoOpen"
                ng-click="isUploadPhotoOpen = false">
          <span aria-hidden="true">&times;</span>
        </button> -->

    <div ui-view="upload"
         ng-show="isUploadPhotoOpen"
         class="modalForm center-div">
    </div>
</div>

<!-- GUEST TABLE -->
      <table class="table table hover">
        <thead class="tableHead">
          <tr>
            <th>No.</th>
            <th>Names<i class="fa fa-sort"  ng-click="guest.orderBy('firstName')"></i></th>
            <th>Contact</th>

            <th>Attending Events<i class="fa fa-sort" ng-click="guest.orderBy('attendingEvents')"></i></th>
            <th>+ Guests<i class="fa fa-sort" ng-click="guest.orderBy('extraGuests')"></i></th>
            <th>Actions</th>
            <th></th>
          </tr>
        </thead>


  <tbody>


  <tr ng-repeat="person in guest.guests | filter:searchBox | filter:guest.eventFilter | orderBy: guest.headerSort track by $index"
      ng-if="$index >= guest.lower && $index < guest.upper">

      <td>{{ $index + 1 }}</td>

      <td ng-hide="editMode" class="names" >{{ person.firstName}} {{ person.lastName}}</td>
        <td ng-show="editMode">
          <input
            type="text"
            ng-value="person.firstName"
            ng-model="guest.updatedGuest.firstName"/>

          <input
            type="text"
            ng-model="guest.updatedGuest.lastName"
            ng-value="person.lastName"/>
        </td>

        <td>
          <a ng-href="mailto:{{person.email}}" target="_top">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          </a>
          <i class="fa fa-phone"
             aria-hidden="true"
             ng-click="isPhoneNumberShowing = !isPhoneNumberShowing">
             <p ng-show="isPhoneNumberShowing" class="admin-phonenumber">{{person.number}}</p>
          </i>
        </td>

      <td ng-hide="editMode" class="admin-attending-events">{{ person.attendingEvents}}</td>
        <td ng-show="editMode">
            <select ng-model="guest.updatedGuest.attendingEvents">
              <option
                ng-repeat="event in guest.eventOptions"
                ng-selected="event"
                ng-value="event">{{ event }}
              </option>
            </select>
        </td>


      <td ng-hide="editMode">{{ person.extraGuests}}</td>
        <td ng-show="editMode">
          <select  ng-model="guest.updatedGuest.extraGuests">
            <option value="0" ng-selected="guest.updatedGuest.extraGuests === 0">0</option>
            <option
              ng-repeat="option in guest.extraGuestsOptions"
              ng-selected="option"
              ng-value="option ">{{ option }}
            </option>
          </select>
        </td>

        <td>
          <button
            type="submit"
            class="btn btn-secondary"
            ng-hide="editMode"
            ng-click="editMode = true; guest.editGuest(person); guest.disableEdit()"
            ng-disabled="guest.isEditDisabled">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>

          <button
            type="button"
            class="btn btn-success"
            ng-show="editMode"
            ng-click="guest.updateGuest(guest.updatedGuest)">Save
         </button>

          <button
            type="button"
            class="btn btn-danger"
            ng-show="editMode"
            ng-click="editMode = false; guest.enableEdit()">Undo
          </button>

           <button
             type="button"
             class="close"
             aria-label="Close"
             ng-hide="editMode"
             ng-click="guest.openModal(person)">
           <span aria-hidden="true">&times;</span>
          </button>
        </td>

    </tr>

  </tbody>
  </table>

<!-- DELETE GUEST MODAL -->
    <div ng-show="guest.modalShown" class="center-div modalForm">
              <p>Are you sure you want to delete {{guest.deletingPerson.firstName}} {{guest.deletingPerson.lastName}}?</p>
                  <button
                    class="btn btn-default delete-person-button"
                    ng-click = "guest.deleteGuest(guest.deletingPerson._id)">Delete
                  </button>
                  <button
                    class="btn btn-danger delete-person-button"
                    ng-click= "guest.modalShown = false">Cancel
                </button>
    </div>


<!-- PAGINATION  -->

  <div class="row justify-content-center">
    <div class="btn-toolbar"
        ng-if="guest.showPaginator"
        role="toolbar"
        aria-label="Toolbar with button groups">
      <div
        ng-repeat="page in guest.pageNumbers"
        class="pagination-div">
          <button type="button"
                  class="btn btn-secondary"
                  ng-click="guest.changePage(page)"
                  ng-disabled="guest.upper === page * 10"
                  style="width: 50px">{{ page }}
          </button>
      </div>
    </div>
   </div>

    </div>
 </div>
