<div ui-view="navbar"></div>

<!-- <div ng-init="guests.getSingleUser()"> -->
<div ng-controller = "GuestController as guest" ng-init="guest.getAll()">
    <div class="container">
      <h2 class="guestbook-title">Admin</h2>

<button type="button" name="button" class="btn btn-info btn-md" ng-click="isGuestListOpen = !isGuestListOpen">Guest List <span class="glyphicon glyphicon-resize-full"></span></button>
<button type="button" name="button" class="btn btn-info btn-md" ng-click="isCheckListOpen = !isCheckListOpen">Check List<span class="glyphicon glyphicon-resize-full"></span></button>
<button type="button" name="button" class="btn btn-info btn-md">Gallery<span class="glyphicon glyphicon-resize-full"></span></button>

      <table class="table table hover" ng-show="isGuestListOpen">
        <thead class="tableHead">
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Contact</th>

            <th>Attending Events </th>
            <th>Additional Guests</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="person in guest.guests track by $index">
            <td>{{ $index + 1 }}</td>
            <td>{{ person.firstName}} {{ guest.lastName}}</td>
            <td><span class="glyphicon glyphicon-envelope"></span>
              <span class="glyphicon glyphicon-phone"></span></td>
            <td class="admin-attending-events">{{ person.attendingEvents}}</td>
            <td>{{ person.extraGuests}}</td>
            <td>
            <button type="button" class="btn btn-info btn-sml" ng-click="guest.selectGuest(person)">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>

             <button type="button" class="close" aria-label="Close" ng-click="guest.deleteGuest(person._id)">
                <span aria-hidden="true">&times;</span>
            </button>

            </td>
          </tr>


        </tbody>

      </table>
     </div>

     <!-- ________________guest modal________________ -->

      <div ng-if="guest.isEditFormVisible">

        <h1>Edit Guest</h1>

        <div>

        firstName
          <form ng-submit="guest.updateGuest(guest.selectedGuest._id)" ng-init="guest.getGuest(guest.selectedGuest._id)" >
            <input
              type="text"
              ng-value="guest.selectedGuest.firstName"
              ng-model="guest.selectedGuest.firstName"/>

        lastName
            <input
              type="text"
              ng-value="guest.selectedGuest.lastName"
              ng-model="guest.selectedGuest.lastName"/>

        attendingEvents
            <select ng-model="guest.selectedGuest.attendingEvents">
              <option
                ng-repeat="event in guest.eventOptions"
                ng-selected="event"
                ng-value="event">{{ event }}
              </option>
            </select>

        extraGuests
            <select
               ng-model="guest.selectedGuest.extraGuests">
              <option
                ng-repeat="option in guest.extraGuestsOptions"
                ng-value="option ">{{ option }}
              </option>
            </select>

            <div>
              <input type="submit" value="Update">
            </div>

          </form>
        </div>

      </div>

  </div>

<!-- </div> -->

<div ng-show="isCheckListOpen">
<ul class="list-group">
  <li class="list-group-item">First item</li>
  <li class="list-group-item">Second item</li>
  <li class="list-group-item">Third item</li>
</ul>


</div>
