<!DOCTYPE html>
<div ng-controller="AlbumController as album" ng-init="album.getAllPhotos()">

    <div ng-if="!album.albumView"
         ng-repeat="photo in album.photos track by $index">
      <img class="col-md-3 album-photo"
           ng-src="{{photo.url}}"
           alt="name of photo"
           ng-click="album.showAlbumView($index)">
    </div>

    <div ng-if="album.albumView"  class="album-view">
      <img ng-src="{{album.currentPhoto.url}}" alt="photo">
      <div ng-click="album.albumView = false" class="close-album"></div>
      <div ng-click="album.nextPhoto()" class="next-photo"></div>
      <div ng-click="album.previousPhoto()" class="previous-photo"></div>
    </div>

</div>
