<div ui-view="navbar"></div>
 <!-- <div class="container guestbook-container"> -->

  <div ng-controller = "GuestBookController as post" ng-init="post.getAllPost()">

    <!-- <form class="form-group"
          name="guestBookForm"
          ng-submit="post.addPost()" >
              <div class="col-xs-2">
                  <input type = "text"
                         class="form-control"
                         placeholder="Your name"
                         ng-model="post.newPost.name"
                         required/>
              </div>

              <div class="col-xs-2">
                <textarea class="form-control"
                          rows="5" id="comment"
                          placeholder="Leave a message..."
                          ng-model="post.newPost.message"
                          ></textarea>
              </div>

            <div class="col-xs-2">
              <input type="submit"
                     class="btn btn-success add-guest-submit"
                     value="submit"/>
            </div>
    </form> -->

    <div class="container">
          <ul ng-repeat="p in post.posts track by $index" class="comment-section list-group row">
            <li class="guestbooklist-item">
                <img class="guest-img" ng-src="https://www.fancyhands.com/images/default-avatar-250x250.png"/>

                <div class="guestBookNames">
                  {{p.name}}
               </div>

                <div class="guestBookComments">
                  {{p.message}}
                </div>
          </li>

          </ul>
    </div>



  </div>






















<!-- <div ng-controller = "GuestBookController as post" ng-init="post.getAll()">

<div class="container">
  <h1 class="guestbook-title">GuestBook</h1>
  <ul class="comment-section list-group row" ng-repeat="peas in guest.guests track by $index" >
    <li class="guestBookList">
    <img class="guest-img" ng-src="{{guest.images[$index]}}"/>

           <div class="guestBookNames">
            {{ peas.firstName }} {{peas.lastName}}
          </div>
           <div class="guestBookComments">{{ peas.comments }} </div>

    </li>
  </ul>

 </div>
</div> -->
