<div ui-view="navbar"></div>
 <div class="container guestbook-container">

  <div ng-controller = "GuestBookController as post" >
<!-- ng-init="post.getAll()" -->
    <form class="form-group"
          name="guestBookForm"
          ng-submit="post.AddPost()" >

          <div class="col-xs-2">
            <label for="ex1"></label>
              <input type = "text"
                     class="form-control"
                     placeholder="Your name"
                     ng-model="post.newPost.name"
                     required/>
          </div>

          <div class="col-xs-2">
            <label for="ex1"></label>
              <input type= "text"
                     class="form-control guestbook-message-input-box"
                     placeholder="Leave a message"
                     ng-model="post.newPost.message"
                     required/>
          </div>

          <input type="submit"
                 class="btn btn-success add-guest-submit"
                 value="Submit"/>

    </form>
  </div>

 </div>




















<!-- <div ng-controller = "GuestBookController as post" ng-init="post.getAll()">

<div class="container">
  <h1 class="guestbook-title">GuestBook</h1>
  <ul class="comment-section list-group row" ng-repeat="peas in guest.guests track by $index" >
    <li class="guestBookList">
    <img class="guest-img" ng-src="{{guest.images[$index]}}"/>

           <div class="guestBookNames">
            {{ peas.firstName }} {{peas.lastName}}
          </div>
           <div class="guestBookComments">{{ peas.comments }} </div>

    </li>
  </ul>

 </div>
</div> -->
