<!-- <div ng-init="guests.getSingleUser()"> -->
  <div ng-controller = "GuestController as guest">

    <div class="container">
      <h2 class="guestbook-title">Admin</h2>

      <table class="table table-hover">
    <thead class="tableHead">
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Attending Events</th>
        <th>Additional Guests</th>
        <th></th>
      </tr>
    </thead>

<tbody>
            <tr ng-repeat="person in guest.guests track by $index">
              <td>{{ $index + 1 }}</td>
              <td>{{ person.firstName}} {{ guest.lastName}}</td>
              <td>{{ person.attendingEvents}}</td>
              <td>{{ person.extraGuests}}</td>
              <td><a href="#" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                 <button type="button" class="close" aria-label="Close" ng-click="guest.deleteGuest(person._id)"> 
                    <span aria-hidden="true">&times;</span>
                </button>

              </td>

            </tr>
</tbody>
          </table>


     </div>
  </div>
<!-- </div> -->
