<!DOCTYPE html>

<div ng-if="auth.user" ui-view="navbar"></div>

<section class="login" ng-if="!auth.user">
  <div class="email">
    <input type="text" placeholder="email" ng-model="auth.email">
  </div>

  <div class="password">
    <input type="password" placeholder="password" ng-model="auth.password">
  </div>

  <button class="signinbtn" ng-click="auth.signIn()">Sign In</button>

  <p ng-if="auth.error">
    <strong>{{ auth.error }}</strong>
  </p>
</section>

<section ng-if="auth.user">
  <div class="container welcome-container col-md-5">
    <div class="row justify-content-center">
      <img class="couplesName" src="../images/couples-name.png" alt="">
    </div>
  </div>
</section>
