<div ui-view="navbar"></div>

<h1>RSVP</h1>
<div ng-controller = "GuestController as guest">

<form name="guestRSVPForm" ng-submit="guest.AddGuest()">

<!--names-->
<input type = "text" placeholder="Enter first name" ng-model="guest.newGuest.firstName" required/>
<input type = "text" placeholder="Enter last name" ng-model="guest.newGuest.lastName" required/>


<!--guest-->
<br>
<label>Extra Guests:</label>
<select ng-model="guest.newGuest.extraGuests">
  <option ng-repeat="option in guest.extraGuestsOptions" value="{{ option }}">{{ option }}</option>
</select>

<!--events-->
<br>
<label>Attending:</label>
<br>
<div ng-repeat="event in guest.eventOptions">
  <input type="radio" ng-model="guest.newGuest.attendingEvents" ng-value="event">{{ event }}
</div>

  <div ng-switch="guest.newGuest.attendingEvents">
  <div ng-switch-when="1">
     <h1>Traditonal Wedding</h1>
     <p>Date: 99/99/00 </p>
     <p>Address:</p>
  </div>
  <div ng-switch-when="2">
    <h1>White Wedding</h1>
    <p>Date: 99/99/00 </p>
    <p>Address:</p>
  </div>
  <div ng-switch-when="3">
    <h1>Both</h1>
    <p>Date: 99/99/00 </p>
    <p>Address:</p>
  </div>
  </div>

<!--comment-->
<br>
<textarea type = "text"
          placeholder="Enter your comments here"
          ng-model="guest.newGuest.comments"
          id="RSVP_comment_box" required>
</textarea>

<input ng-model="guest.newGuest.timeStamp" type="date"/>


<br>
<input type="submit" value="submit">
</form>

</div>

<!--condense all the event info into angular for instance if we make an event controller-->
<!--Get rid of all of the BR tags and structure properly-->
