<nav>

  <a ui-sref="our-story">Our Story</a>
  <a ui-sref="photos">Photos</a>
  <a ui-sref="wedding-details">Wedding Details</a>
  <a ui-sref="rsvp">RSVP</a>
  <a ui-sref="contact-us">Contact us</a>
  <a href="#" ng-click="auth.signOut()">Sign out</a>

</nav>

<section>

  <div ng-if="auth.user">
    <p><strong>
      Welcome {{ auth.user.email }}!
    </strong> </p>

  </div>

  <div ng-if="!auth.user">
    <h1>Welcome new person!!</h1>

    <a ui-sref="login">Click Here</a> to sign in.

  </div>

</section>
